nav {
  position:fixed;
  display:block;
  bottom: 0;
        left: 0;
        min-height: 100vh !important;
        z-index: 100;
        padding: 48px;
        padding-top: 9rem;
  top:0;
  

}
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #575757;
}
nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #ec704c;
}
nav a.active {
  color: #ec704c;
}